body {
  margin: 0;
  font-family: "Lucida Grande" /* mac */, "Segoe UI" /* windows */,
    "Noto Sans" /* linux */, "DejaVu Sans", system-ui, Roboto,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
